.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  // width: 100%;
  // border: 2px solid blue;

  @media only screen and (max-width: 600px) {
    height: 15vh;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  &-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    position: relative;

    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    &-main {
      margin-right: 3rem;
      font-size: 2.4rem;

      @media only screen and (max-width: 600px) {
        font-size: 1.7rem;
        margin-left: 5rem;
        margin-right: -1rem;
      }
    }

    &-nav {
      display: flex;

      @media only screen and (max-width: 600px) {
        position: fixed;
        top: 5rem;
        left: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s;
        // height: 15rem;
        height: 40rem;
        z-index: 1000;
      }

      &.active {
        @media only screen and (max-width: 600px) {
          left: 0;
        }
      }
    }
  }

  &-list {
    display: inline;
    margin-left: 1.2rem;
    font-size: 1.1rem;
    justify-self: center;

    @media only screen and (max-width: 900px) {
      font-size: 0.8rem;
      margin-left: 0.7rem;
    }

    @media only screen and (max-width: 600px) {
      padding-top: 1.6rem;
    }
  }

  &-two {
    position: relative;

    @media only screen and (max-width: 900px) {
      // border: 3px solid red;
      // margin-left: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    span {
      position: absolute;
      top: 1.2rem;
      right: 5.7rem;
      font-size: 0.7rem;
      color: hsl(25, 100%, 94%);
      background-color: hsl(26, 100%, 55%);
      padding: 0.1rem 0.3rem;
      border-radius: 4px;
      // display: none;

      @media only screen and (max-width: 900px) {
        top: 1.7rem;
        right: 5.7rem;
        padding: 0.1rem 0.2rem;
        font-size: 0.6rem;
      }
      @media only screen and (max-width: 600px) {
        top: 0.4rem;
        right: 4.5rem;
      }
    }

    &-cart {
      margin: 1rem;
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
    }

    &-img {
      margin: 1rem 2rem 1rem 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      &:hover {
        border: 2px solid $color-primary-orange;
        border-radius: 100%;
      }

      @media only screen and (max-width: 600px) {
        margin: 0.5rem 1rem;
      }
    }
  }
}

.lines {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    left: 2rem;

    // &:active &-2 {
    //   opacity: 0;
    // }

    // &:active &-1 {
    //   transform: translateY(8px) rotate(45deg);
    // }

    // &:active &-3 {
    //   transform: translateY(-8px) rotate(-45deg);
    // }
  }
}

.active #line1 {
  transform: translateY(8px) rotate(45deg);
}

.active #line2 {
  opacity: 0;
}

.active #line3 {
  transform: translateY(-8px) rotate(-45deg);
}

.line {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s;
  background-color: #aaa;
}
