.main {
  display: flex;
  margin: 4rem 14rem;

  &__img {
    &-1 {
      width: 19rem;
      height: 19rem;
      border-radius: 10px;
    }
  }

  &__details {
    margin: 3rem 1rem 0 1rem;
    width: 30rem;
    &-small {
      text-transform: uppercase;
      color: $color-primary-orange;
      font-size: 0.7rem;
    }

    &-header {
      width: 80%;
      font-size: 2rem;
      margin: 1.4rem 0;
    }

    &-text {
      width: 85%;
      font-size: 0.9rem;
      margin-bottom: 1.4rem;
      color: #aaa;
    }

    &-price {
      h3 {
        font-size: 1.2rem;

        span {
          background-color: $color-primary-paleorange;
          color: $color-primary-orange;
          padding: 0.2rem;
          font-size: 0.8rem;
          margin-left: 0.8rem;
          margin-bottom: 1rem;
          border-radius: 6px;
        }
      }

      p {
        color: #aaa;
        text-decoration: line-through;
        font-size: 0.7rem;
        margin: 0.41rem 0;
      }
    }

    &-movements {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: -4rem;
      margin-top: 2rem;

      &-one {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #eee;
        width: 30%;
        height: 3rem;
        border-radius: 5px;

        &-minus {
          fill: $color-primary-orange;
          width: 2rem;
          cursor: pointer;
        }

        h3 {
          font-size: 1rem;
        }

        &-plus {
          fill: $color-primary-orange;
          width: 2rem;
          cursor: pointer;
        }
      }

      &-cart {
        fill: #fff;
        width: 1.1rem;
        margin-right: 1rem;
      }

      &-btn {
        background-color: $color-primary-orange;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.8rem;
        border: none;
        border-radius: 6px;
        width: 12rem;
        height: 2.4rem;
        font-size: 0.8rem;
        cursor: pointer;
        box-shadow: 6px 6px 5px rgba($color-primary-orange, 0.5);

        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 1;
          transform: translateY(0.2rem);
          box-shadow: 0 1px 3px rgba($color-primary-orange, 0.1);
        }
      }
    }
  }
}

.imgs {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1.7rem;

  // &-sm {
  //   width: 18%;
  //   height: 5rem;
  //   border-radius: 7px;
  //   cursor: pointer;

  //   &:not(:last-child) {
  //     margin-right: 0.7rem;
  //   }

  //   &:first-child {
  //     border: 3px solid $color-primary-orange;
  //     background-color: rgba($color-primary-orange, 0.8);
  //   }
  // }

  &-sm1 {
    width: 18%;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid $color-primary-orange;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-paleorange, 0.7)
      ),
      url("../img/image-product-1-thumbnail.jpg");
    background-size: cover;
    background-position: top;
  }

  &-sm2 {
    width: 18%;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    background-image: url("../img/image-product-2-thumbnail.jpg");
    background-size: cover;
    background-position: top;
    transition: all 0.2s;
    backface-visibility: hidden;

    &:hover {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-paleorange, 0.7)
        ),
        url("../img/image-product-2-thumbnail.jpg");
    }
  }

  &-sm3 {
    width: 18%;
    height: 5rem;
    border-radius: 7px;
    background-image: url("../img/image-product-3-thumbnail.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
    transition: all 0.2s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: top;

    &:hover {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-paleorange, 0.7)
        ),
        url("../img/image-product-3-thumbnail.jpg");
      background-size: cover;
      background-position: top;
    }
  }
  &-sm4 {
    width: 18%;
    height: 5rem;
    border-radius: 7px;
    cursor: pointer;
    background-image: url("../img/image-product-4-thumbnail.jpg");
    background-size: cover;
    background-position: top;
    transition: all 0.2s;
    backface-visibility: hidden;

    &:hover {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-paleorange, 0.7)
        ),
        url("../img/image-product-4-thumbnail.jpg");
      background-size: cover;
      background-position: top;
    }
  }
}
