.disappear {
  display: none;
}

.bg-image {
  border: 2px solid $color-primary-orange;
}

.basket {
  position: absolute;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  margin-top: 0.5rem;
  right: 2rem;
  width: 18rem;
  height: 16rem;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  // display: none;

  @media only screen and (max-width: 900px) {
    // display: none;
  }
  @media only screen and (max-width: 600px) {
    display: none;
    margin: 0.5rem auto;
    right: 4.3rem;
  }

  h3 {
    height: 25%;
    // border-bottom: 1px solid #ddd;
    margin: 1rem 0 -1.5rem 1rem;
    font-size: 1rem;
  }

  hr {
    border: 1px solid #ddd;
  }

  &__empty {
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
    font-weight: bold;
    color: #aaa;
    display: none;
  }

  &__filled {
    display: flex;
    flex-direction: column;

    &-desc {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      line-height: 2;
      font-size: 0.74rem;
      width: 90%;
      margin: 2rem auto;
      color: #aaa;

      img {
        width: 3rem;
        height: 3rem;
      }

      &-text {
        span {
          color: #000;
          font-weight: bold;
        }
      }

      &-trash {
        width: 1.7rem;
        height: 1.7rem;
        fill: #aaa;
        cursor: pointer;

        &:hover {
          fill: rgba($color-primary-orange, 0.6);
        }
      }
    }

    &-checkout {
      background-color: $color-primary-orange;
      width: 87%;
      margin: 0.2rem auto;
      padding: 1rem 3rem;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 1rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
      box-shadow: 6px 6px 5px rgba($color-primary-orange, 0.5);

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 1;
        transform: translateY(0.2rem);
        box-shadow: 0 1px 3px rgba($color-primary-orange, 0.1);
      }
    }
  }
}

.center {
  display: none;

  @media only screen and (max-width: 600px) {
    display: inline;
    position: absolute;
    top: 15rem;
  }
}
