.modal {
  width: 30rem;
  margin: 0 auto;
  position: relative;
  display: none;
}

.modal__img-1 {
  width: 24rem;
  height: 22rem;
  border-radius: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__cross {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.modal__cross:hover {
  fill: #ff7d1a;
}

.modal__left {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__left:hover {
  fill: #ff7d1a;
}

.modal__right {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__right:hover {
  fill: #ff7d1a;
}

.svg-parent-left {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  top: 10rem;
  left: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.svg-parent-right {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  top: 10rem;
  right: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.imgs {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgs-smm1 {
  width: 4rem;
  height: 4rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #ff7d1a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-1-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-1-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}

.imgs-smm2 {
  width: 4rem;
  height: 4rem;
  border-radius: 7px;
  cursor: pointer;
  background-image: url("../img/image-product-2-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.imgs-smm2:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-2-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-2-thumbnail.jpg");
}

.imgs-smm3 {
  width: 4rem;
  height: 4rem;
  border-radius: 7px;
  background-image: url("../img/image-product-3-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  background-position: top;
}

.imgs-smm3:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-3-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-3-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}

.imgs-smm4 {
  width: 4rem;
  height: 4rem;
  border-radius: 7px;
  cursor: pointer;
  background-image: url("../img/image-product-4-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.imgs-smm4:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-4-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-4-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 15vh;
    width: 100%;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.header-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-one-main {
  margin-right: 3rem;
  font-size: 2.4rem;
}

@media only screen and (max-width: 600px) {
  .header-one-main {
    font-size: 1.7rem;
    margin-left: 5rem;
    margin-right: -1rem;
  }
}

.header-one-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .header-one-nav {
    position: fixed;
    top: 5rem;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 40rem;
    z-index: 1000;
  }
}

@media only screen and (max-width: 600px) {
  .header-one-nav.active {
    left: 0;
  }
}

.header-list {
  display: inline;
  margin-left: 1.2rem;
  font-size: 1.1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 900px) {
  .header-list {
    font-size: 0.8rem;
    margin-left: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-list {
    padding-top: 1.6rem;
  }
}

.header-two {
  position: relative;
}

@media only screen and (max-width: 900px) {
  .header-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .header-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.header-two span {
  position: absolute;
  top: 1.2rem;
  right: 5.7rem;
  font-size: 0.7rem;
  color: #ffede0;
  background-color: #ff7d1a;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}

@media only screen and (max-width: 900px) {
  .header-two span {
    top: 1.7rem;
    right: 5.7rem;
    padding: 0.1rem 0.2rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-two span {
    top: 0.4rem;
    right: 4.5rem;
  }
}

.header-two-cart {
  margin: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.header-two-img {
  margin: 1rem 2rem 1rem 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header-two-img:hover {
  border: 2px solid #ff7d1a;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .header-two-img {
    margin: 0.5rem 1rem;
  }
}

.lines {
  display: none;
}

@media only screen and (max-width: 600px) {
  .lines {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
}

.active #line1 {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.active #line2 {
  opacity: 0;
}

.active #line3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.line {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  position: relative;
}

a {
  text-decoration: none;
  color: #999898;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff7d1a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.disappear {
  display: none;
}

.bg-image {
  border: 2px solid #ff7d1a;
}

.basket {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
  right: 2rem;
  width: 18rem;
  height: 16rem;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  .basket {
    display: none;
    margin: 0.5rem auto;
    right: 4.3rem;
  }
}

.basket h3 {
  height: 25%;
  margin: 1rem 0 -1.5rem 1rem;
  font-size: 1rem;
}

.basket hr {
  border: 1px solid #ddd;
}

.basket__empty {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  font-weight: bold;
  color: #aaa;
  display: none;
}

.basket__filled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__filled-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  font-size: 0.74rem;
  width: 90%;
  margin: 2rem auto;
  color: #aaa;
}

.basket__filled-desc img {
  width: 3rem;
  height: 3rem;
}

.basket__filled-desc-text span {
  color: #000;
  font-weight: bold;
}

.basket__filled-desc-trash {
  width: 1.7rem;
  height: 1.7rem;
  fill: #aaa;
  cursor: pointer;
}

.basket__filled-desc-trash:hover {
  fill: rgba(255, 125, 26, 0.6);
}

.basket__filled-checkout {
  background-color: #ff7d1a;
  width: 87%;
  margin: 0.2rem auto;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 5px rgba(255, 125, 26, 0.5);
          box-shadow: 6px 6px 5px rgba(255, 125, 26, 0.5);
}

.basket__filled-checkout:hover {
  opacity: 0.9;
}

.basket__filled-checkout:active {
  opacity: 1;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 1px 3px rgba(255, 125, 26, 0.1);
          box-shadow: 0 1px 3px rgba(255, 125, 26, 0.1);
}

.center {
  display: none;
}

@media only screen and (max-width: 600px) {
  .center {
    display: inline;
    position: absolute;
    top: 15rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50rem;
  margin: 3rem auto;
}

@media only screen and (max-width: 600px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    margin: 0;
  }
}

.main__img {
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .main__img {
    width: 100%;
    margin-right: 0;
  }
}

.main__img-1 {
  width: 19rem;
  height: 19rem;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .main__img-1 {
    width: 100%;
    border-radius: 0;
  }
}

.main__details {
  margin: 3rem auto;
  width: 25rem;
}

@media only screen and (max-width: 900px) {
  .main__details {
    width: 18rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__details {
    width: 22rem;
    margin: 3rem auto;
  }
}

.main__details-small {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 0.7rem;
}

.main__details-header {
  width: 100%;
  font-size: 2rem;
  margin: 1.4rem 0;
}

@media only screen and (max-width: 600px) {
  .main__details-header {
    width: 90%;
    font-size: 1.7rem;
    margin: 1rem 0;
  }
}

.main__details-text {
  width: 90%;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
  color: #aaa;
}

@media only screen and (max-width: 600px) {
  .main__details-text {
    width: 90%;
    font-size: 0.75rem;
  }
}

.main__details-price h3 {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .main__details-price h3 {
    font-size: 1rem;
  }
}

.main__details-price h3 span {
  background-color: #ffede0;
  color: #ff7d1a;
  padding: 0.2rem;
  font-size: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

@media only screen and (max-width: 600px) {
  .main__details-price h3 span {
    font-size: 0.6rem;
  }
}

.main__details-price p {
  color: #aaa;
  text-decoration: line-through;
  font-size: 0.7rem;
  margin: 0.41rem 0;
}

@media only screen and (max-width: 600px) {
  .main__details-price p {
    font-size: 0.5rem;
  }
}

.main__details-movements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -2.2rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .main__details-movements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__details-movements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 100%;
    margin-left: -2rem;
  }
}

.main__details-movements-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  width: 30%;
  height: 3rem;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .main__details-movements-one {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 2.4rem;
    margin: 1rem auto;
    padding: 0.1rem 1rem;
    margin-left: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__details-movements-one {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.main__details-movements-one-minus {
  fill: #ff7d1a;
  width: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main__details-movements-one-minus {
    width: 1.4rem;
  }
}

.main__details-movements-one h3 {
  font-size: 1rem;
}

.main__details-movements-one-plus {
  fill: #ff7d1a;
  width: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main__details-movements-one-plus {
    width: 1.4rem;
  }
}

.main__details-movements-cart {
  fill: #fff;
  width: 1.1rem;
  margin-right: 1rem;
}

.main__details-movements-btn {
  background-color: #ff7d1a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 6px;
  width: 12rem;
  height: 2.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 5px rgba(255, 125, 26, 0.5);
          box-shadow: 6px 6px 5px rgba(255, 125, 26, 0.5);
}

.main__details-movements-btn:hover {
  opacity: 0.7;
}

.main__details-movements-btn:active {
  opacity: 1;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 1px 3px rgba(255, 125, 26, 0.1);
          box-shadow: 0 1px 3px rgba(255, 125, 26, 0.1);
}

@media only screen and (max-width: 900px) {
  .main__details-movements-btn {
    width: 100%;
    margin: 0.2rem auto;
    margin-left: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__details-movements-btn {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.imgs {
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.7rem;
}

@media only screen and (max-width: 600px) {
  .imgs {
    display: none;
  }
}

.imgs-sm1 {
  width: 18%;
  height: 5rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #ff7d1a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-1-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-1-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}

.imgs-sm2 {
  width: 18%;
  height: 5rem;
  border-radius: 7px;
  cursor: pointer;
  background-image: url("../img/image-product-2-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.imgs-sm2:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-2-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-2-thumbnail.jpg");
}

.imgs-sm3 {
  width: 18%;
  height: 5rem;
  border-radius: 7px;
  background-image: url("../img/image-product-3-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  background-position: top;
}

.imgs-sm3:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-3-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-3-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}

.imgs-sm4 {
  width: 18%;
  height: 5rem;
  border-radius: 7px;
  cursor: pointer;
  background-image: url("../img/image-product-4-thumbnail.jpg");
  background-size: cover;
  background-position: top;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.imgs-sm4:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 237, 224, 0.7))), url("../img/image-product-4-thumbnail.jpg");
  background-image: linear-gradient(to right, rgba(255, 237, 224, 0.7)), url("../img/image-product-4-thumbnail.jpg");
  background-size: cover;
  background-position: top;
}
/*# sourceMappingURL=main.css.map */